<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Most Populated Boroughs</title>

    <link rel="stylesheet" type=text/css href="static/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css">

    <script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>
<div class="container">
    <h1 class='text-primary text-center'><strong>Top 20 Boroughs</strong></h1>
</div>

<table align="center">
  <td> 
    <table class="table table-hover table-striped">
      <tr>
        <th scope="col">No</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Zip</th>
        <th scope="col">Population</th>
    </tr>
    {% for city in cities | reverse %}
      {% if loop.index <= 10 %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td>{{ city.state }}</td>
          <td>{{ city.city }}</td>
          <td>{{ city._id }}</td>
          <td>{{ city.population }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </td>
  <td>
    <table class="table table-hover table-striped">
      <tr>
        <th scope="col">No</th>
        <th scope="col">State</th>
        <th scope="col">City</th>
        <th scope="col">Zip</th>
        <th scope="col">Population</th>
    </tr>
    {% for city in cities | reverse %}
      {% if loop.index > 10 %}
        <tr>
          <td>{{ loop.index }}.</td>
          <td>{{ city.state }}</td>
          <td>{{ city.city }}</td>
          <td>{{ city._id }}</td>
          <td>{{ city.population }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </td>
</table>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

<script>

var dataset = {{ cities | tojson | safe }}
dataset.reverse();

/* widh SVG element */
var svgWidth = 1195;

/* height SVG element*/
var svgHeight = 600; 

/* backdowns in SVG element */
var chartMargin = {top: 90, right: 50, bottom: 80, left: 180};

/* chart width */
var chartWidth = svgWidth - chartMargin.right - chartMargin.left;

/* chart height */
var chartHeight = svgHeight - chartMargin.top - chartMargin.bottom; 

/* create SVG element */
var svg = d3.select("body")
    .append("svg")
    .attr("width", svgWidth)
    .attr("height", svgHeight);

/* chart elements*/
var chart = svg.append("g")
    .attr("transform", "translate(" + chartMargin.left + "," + chartMargin.top + ")");

/* scale function for X axis */
var xScale = d3.scale.ordinal()
    .rangeRoundBands([0, chartWidth], .2)
    .domain(dataset.map(function (d) { return d._id; }));

/* scale function for Y axis*/  
var yScale = d3.scale.linear()
    .range([chartHeight, 0])
    .domain([0, d3.max(dataset, function (d) { return d.population; })]);

/* Х axis */
var xAxis = d3.svg.axis()
    .scale(xScale)
    .orient("bottom");

/* Y axis */
var yAxis = d3.svg.axis()
    .scale(yScale)
    .orient("left");

/* add axes on chart */
var lHorizontalAxis = chart.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0, " + chartHeight + ")")
    .call(xAxis)
    .selectAll("g.tick")
    .call(tickTextWrapping, xScale.rangeBand());

var lVerticalAxis = chart.append("g")
    .attr("class", "y axis")
    .call(yAxis);

/* rotate text */
function tickTextWrapping(aTick, aTextMaxWidth) {
    var lTickTextsWidth = 0;
    aTick.each(function (d) {
        var lTick = d3.select(this);
        lTick.select("text").remove();
        var lTextContainerInitialX = 0;
        var lTextContainerInitialY = 17;
        var lTextContainer = lTick.append("g").attr("transform", "translate(" + lTextContainerInitialX + ", " + lTextContainerInitialY + ")");
        var lText = lTextContainer.append("text").text(d).style("text-anchor", "middle");
        var lTextWidth = lText[0][0].clientWidth;
        var lTextHeight = lText[0][0].clientHeight;
        if (aTextMaxWidth/lTextWidth < 1) {
            var lTextRadian = Math.acos(aTextMaxWidth/lTextWidth) * 180 / Math.PI;
            var lTextIndent = lTextHeight / 2;
            lTextContainerInitialY -= lTextIndent;
            lText.attr("transform", "rotate(" + -lTextRadian + ")").attr("dy", lTextIndent).style("text-anchor", "middle");
            var lTextContainerWidth = -lTextWidth * Math.sin(aTextMaxWidth/lTextWidth) / 2 + lTextContainerInitialX;
            var lTextContainerHeight = lTextWidth * Math.cos(aTextMaxWidth/lTextWidth) / 2 + lTextContainerInitialY;
            lTextContainer.attr("transform", "translate(" + lTextContainerWidth + ", " + lTextContainerHeight + ")");
        }
    });
}

/* add bars */
chart.selectAll("rect.bar")
    .data(dataset)
    .enter()
    .append("rect")
    .attr("class", "bar")
    .attr("x", function (d) { return xScale(d._id); })
    .attr("width", xScale.rangeBand())
    .attr("y", function (d) { return yScale(d.population); })
    .attr("height", function (d) { return chartHeight - yScale(d.population); })
    /* show message */
    .on("mouseenter", function (d, i) {
        chart.select("#label" + i).style("display", "block");
    })
    .on("mouseleave", function (d, i) { 
        chart.select("#label" + i).style("display", "none"); 
    });


/* legend */
var lChartCaption = "Population Chart";
chart.append("text")
    .attr("x", chartWidth / 2)
    .attr("y", -chartMargin.top / 6)
    .style({"text-anchor": "middle", "font": "bold 36px Courier New"})
    .text(lChartCaption);

/* message */
var labelsContainers = chart.selectAll("g._id")
    .data(dataset)
    .enter()
    .append("g")
    .attr("class", "label")
    .attr("transform", function (d) {
        var lInitialX = xScale(d._id);
        var lX = lInitialX + xScale.rangeBand() / 2;
        var lY = yScale(d.population);
        return "translate(" + lX + ", " + lY + ")";
    })
    .attr("id", function (d, i) { return "label" + i; })
    .style("display", "none");
    labelsContainers.append("polygon")
    .attr("points", "0,0 -5,-10 -70,-10 -70,-50 70,-50 70,-10 5,-10");
    labelsContainers.append("text")
    .attr("id", function (d, i) { return "date" + i; })
    .attr("x", "0")
    .attr("y", function (d) {
        return -40;
    })
    .style("text-anchor", "middle")
    .text(function (d) { return "Zip: " + d._id; });
    labelsContainers.append("text")
    .attr("id", function (d, i) { return "value" + i; })
    .attr("x", "0")
    .attr("y", function (d) {
        return -20;
    })
    .style("text-anchor", "middle")
    .text(function (d) { return "City: " + d.city; })
    labelsContainers.append("text")
    .attr("id", function (d, i) { return "value" + i; })
    .attr("x", "0")
    .attr("y", function (d) {
        return -30;
    })
    .style("text-anchor", "middle")
    .text(function (d) { return "Population: " + d.population; });

</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>
</html>